.chart-main-section{
    display: flex;
    padding-top: 15px;
    padding-left: 15px;
}
.chart-sidetab{
    width: 20%;
    height: 100%;
    display: block;
}
.chart-sidetab-element{
    border: 2px solid rgb(77, 77, 77);
    border-radius: 10px 0 0 0;
    margin: 5px;
    width: 70%;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.chart-sidetab-element:hover{
    transform: scale(1.03);
    
}
.chart-sidetab-element-selected{
    border: 2px solid rgb(77, 77, 77);
    border-radius: 10px 0 0 0;
    margin: 5px;
    width: 70%;
    float: right;
    font-size: 24px;
    font-weight: bold;
    transform: translateX(-20px);
    
}
.chart-component{
    padding: 10px 0px 0px 0px ;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(77, 77, 77);
}

.params-topbar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}
.svg-container{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 1fr);
}