body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f8ff; /* 天藍色調的背景色 */
}

.mymenu-container {
  max-width: 1200px;
  width:100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* 白色背景，使內容區域突顯出來 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.new-menu {
  /* width: 400px; */
  height: 400px;
  padding: 20px;
  border: 1px solid #bbb;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* 白色背景，使菜單區域突顯出來 */
}

.new-menu:hover {
  transform: scale(1.05);
}

.menu-content {
  padding: 15px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
}

.menu p {
  text-align: justify;
}

@media (max-width: 768px) {
  .menu {
    width: 100%;
  }
}

.menu-item {
  /* width: 400px; */
  height: 400px;
  margin: 20px;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* 白色背景，使菜單區域突顯出來 */
}

.menu-picture {
  justify-content: center;  
  width: 320px;
  padding: 10px;
  text-align: center;
}

.startdect-button {
  width: 150px;
  text-align: center;
  padding: 10px 20px;
  margin: 5px;
  border:none;
  border-radius: 5px;
  font-size: 20px;
  color:#fff;
  background-color:rgb(54, 185, 229);
}

.startdect-button:hover {
  background-color:rgb(16, 75, 28);
}

.remove-button {
  width: 150px;
  text-align: center;
  padding: 10px 20px;
  margin: 5px;
  border:none;
  border-radius: 5px;
  font-size: 20px;
  color:#fff;
  background-color:rgb(233, 72, 72);
}

.remove-button:hover {
  background-color:rgb(100, 30, 30);
}

.buttons {
  display: flex;
  justify-content: center;
}
.plus-sign{
  width: 345px;
  font-size: 128px;
  color: rgb(142, 142, 142);
  display: flex;
  justify-content: center;
  align-items: center;
  translate: 0px 50px;
}
.react-link{
  text-decoration: none;
}