.basic-information{
    margin: 0 auto; 
    padding: 20px;
    height: 500px;
    width:350px;
    border-radius: 5px;
    background-color: rgb(248, 247, 249);
    color: black;
}
.change-information{
    margin: 0 auto; 
    padding: 20px;
    height: 500px;
    width:350px;
    border-radius: 5px;
    background-color: rgb(248, 247, 249);
    color: black;
}
.info-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* object-fit: fill; */
    opacity: 0.7; /* 設置透明度為 50% */
}

.wrapper {
    position: relative;
    height: 60vh;
    justify-content: flex-start; 
}
.Back {
    width: 400px;
    display: flex;
    align-items: left;
    justify-content: left;
}

.Back img:hover {
    content: url('/src/components/Info/images/Back1.png');
}
table.info_table {
    width: 100%; /* 让表格充满其容器的宽度 */
    text-align: center; /* 设置表格中的文本水平居中对齐 */
}

/* 如果需要垂直居中对齐也可以添加以下样式 */
td.info_table {
    vertical-align: middle; /* 设置单元格中的内容垂直居中对齐 */
}



.InfoTitle {
    font-size: 30px;
    font-family: '微軟正黑體';
    font-weight: bold;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aba8ae;
    color: white;
    border-radius: 10px;
    width:250px;
    margin-left: 35px;
}

.InfoIcon {
    border-radius: 50%;
    background-color: #B5B5B5;
    margin-right: 25px;
    width: 60px;
    height: 60px;
    margin: 20px;
}



.InfoTop {
   
    display: flex;
    justify-content: center;
    align-items: center;
}



.Infoline {
    padding: 8px;
    font-size: 16px;
    font-family: '微軟正黑體';
    font-weight: bold;
    text-align: center;
}

.InfoSex {
    height: 20px;
    width: 20px;
}

.Mail, .Password {
    width: 300px;
}

.Height, .Weight, .BMI{
    width: 80px;    
}

.InfoEditButton {
    border-radius: 10px;
    border-width: 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    width: 250px;
    background-color: #00c8ff;
    margin: 0px 35px;
}


.InfoEditButton:hover {
    background-color: #002a35;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  td.info_data{
    text-align: left;
    font-size: 16px ;
    font-weight: bold;
  }